body {
	background-color: #26C6DA;
	color: white;
}

.title-text {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.frame {
	text-align: center;
}

h3 {
	font-family: "Times New Roman";
	font-size: 20px;
	width: 90px;
	text-align: left;
}

.right-block {
	float: right;
}

.mem-info {
	background-color: darkolivegreen;
	border-radius: 25px;
	width: 200px;
	display: block;
	/* float: right; */
	margin-left: 8px;
	padding: 3px;
}

.mem-info > span {
	display: block;
	margin: 10px 0;
}

.runningPCB, .highlightPCB {
	background-color: sienna;
	width: 200px;
	border-radius: 25px;
	margin-top: 8px;
	margin-left: 8px;
	padding: 3px;
	display: block;
	/* float: right; */
}

.highlightPCB {
	background-color: #B7950B;
}

.runningPCB > span, .highlightPCB > span {
	display: block;
	margin: 10px 0;
}

.display-module {
	display: flex;
	align-items: center;
	background-color: black;
	border-radius: 45px;
	/* margin-right: 20px; */
}

.display-module li {
	display: flex;
	align-items: center;
	position: relative;
	list-style: none;
	height: 80px;
	overflow: hidden;
}

li > div {
	/* background-color: white; */
	max-height: 80px;
	overflow-x: scroll;
}

.control-module {
	/* background-color: black; */
	margin-top: 20px;
	/* border-radius: 45px; */
}

.control-module a {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	display: inline-block;
	background-color: black;
	width: 150px;
	height: 60px;
	border-radius: 20px;
	line-height: 60px;
	margin: 10px 10px;
	text-decoration: none;
}

.process {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	display: inline-block;
	background-color: green;
	width: 100px;
	height: 60px;
	border-radius: 20px;
	line-height: 60px;
	margin: 3px;
	overflow: hidden;
}